<header class="sticky-top">
  <nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand text-white">
      <i
        class="fa fa-bars mr-2 p-3"
        (click)="menu.abreMenu()"
        (keyup.space)="menu.abreMenu()"
      ></i>
      SGB -Sistema de Gestão de Bens
    </a>

    <app-menu #menu>
      <div *ngIf="user$ | async as user">
        <ul class="list-unstyled" *ngIf="user.name == 'admin'">
          <li>
            <a [routerLink]="['novousuario']">
              <i class="fa fa-user-plus" aria-hidden="true"></i> Novo Morador</a
            >
          </li>
          <li>
            <a
              ><i class="fa fa-shopping-cart" aria-hidden="true"></i> Status dos
              Bens
            </a>
          </li>
          <li>
            <a (click)="logout()"
              ><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a
            >
          </li>
        </ul>
        <ul class="list-unstyled" *ngIf="user.name !=='admin'">
          <li>
            <a [routerLink]="['animais']">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i> Status dos
              Bens</a
            >
          </li>
          <li>
            <a (click)="logout()"
              ><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a
            >
          </li>
        </ul>

      </div>
    </app-menu>

    <div *ngIf="user$ | async as user">
      <div *ngIf="user.name" else login>
        <i class="fa fa-user-circle mr-1"></i>
        <a href="" class="mr-1 p-2 text-white">{{ user.name }}</a>
        <a class="ml-1 p-2 text-white" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>

  <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="['']">Login</a>
    </span>
  </ng-template>
</header>
