/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
}
.bg-image{
  opacity: 0.25;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
a{
  text-decoration: none !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
